.cssMain
{
    margin:auto;
    width:100%;
    height:400%;
    background-color:blue;
    color:red;
}
.warna-nav
{
    background-color:skyblue;
}
.warna-text
{
    color:white;
}


    table.borderless td,table.borderless th{
     border: none !important;
}

        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }   

